@import '../../styles/_allModules';

.login-wrapper {
  margin-block: auto;
  transform: translate(0, -30%);
  .form {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    align-items: center;
    & input {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@include mobile-and-tablet {
  .login-wrapper {
    .form {
      & > * {
        width: 90vw;
      }

      & > :nth-child(n + 3) {
        width: auto;
      }
    }
  }
}
