.dueDays {
  font-size: 1.75rem;
  width: 100%;
  display: flex;
  & > span {
    margin-inline: auto;
  }
  .due {
    b {
      color: yellowgreen;
    }
  }
  .overdue {
    b {
      color: red;
    }
  }
}
