@import '../../../styles/_allModules';

.form {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__count {
    .ant-form-item {
      margin-bottom: 0;
    }
  }

  .count-select {
    min-width: 5.5rem;
  }
  .text-area {
    resize: none;
  }
  .row-block {
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    & > * {
      flex: 1 1 auto;
    }
  }
  .submit-button {
    margin-top: 1rem;
    background-color: #f43f5e;
  }
}

@include mobile {
  .form {
    .row-block {
      grid-template-columns: 1fr;
    }
  }
}
