@import '../../styles/_allModules';

.home-content {
  padding: 2rem 10vw;
  gap: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  flex: 1 1 auto;
  & > *:first-child,
  & > *:nth-child(2) {
    flex: 1 1 100%;
  }
}

@include mobile-and-tablet {
  .home-content {
    flex-direction: column;
    padding: 5rem 1rem 1rem 1rem;
    height: auto;
    & > *:first-child,
    & > *:nth-child(2) {
      width: auto;
    }
  }
}
