@import '../../styles/_allModules';

.header {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  padding: 1.25rem 4rem;
  position: absolute;
  align-items: center;
  top: 0;
  box-sizing: border-box;
  .header-nav-container {
    display: flex;
    justify-content: flex-end;
    flex: 1 0 auto;
    gap: 2rem;
    & ul {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      & > li {
        list-style: none;
        & > a {
          text-decoration: none;
          cursor: pointer;
          color: #18181b;
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.5rem;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

@include desktop-and-large-desktop {
  .login-button {
    margin-left: 2rem;
  }
}

@include mobile-and-tablet {
  .header {
    padding: 1rem;
    .header-nav-container {
      display: none;
    }
    .login-button {
      margin-left: auto;
      padding: 0.75rem;
      font-size: 0.875rem;
    }
  }
}
