@import '../../../styles/_allModules';

// .buttonContainer {
.drawerButton {
  background-color: transparent;
  border: none;
  box-shadow: none;
  & svg {
    & path {
      fill: black;
    }
  }
}
// }

@include desktop-and-large-desktop {
  .drawerButton {
    display: none;
  }
}

@include mobile-and-tablet {
  .drawerButton {
    display: flex;
  }
}
