@import '../../../styles/_allModules';

.home-description {
  flex: 1 1 auto;
  color: #18181b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.12rem;
  & > :first-child {
    font-size: 3.625rem;
    font-style: normal;
    font-weight: 800;
    line-height: 4.125rem;
    margin-inline: 0;
    & > i > span {
      color: $color-primary-button;
    }
  }
  & > :nth-child(2) {
    color: #52525b;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    margin-inline: 0;
  }
}
